@import"./_variable.scss";
@import"./_mixins.scss";


.explore__button {
    width: 218px;
    height: 50px;
    color: $white;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin: 13px 75px 38px 40px;
    transition: opacity 300ms ease-in-out;
    @include gradient;
    position: relative;

    &:hover {
        opacity: 0.88;
       
    }
}
.button__like {
    color: red;
    position: absolute;
    top: 216px;
    right: 2px;
    width: 21px;
    height: 41px;
    display: flex;
    border: transparent 0px solid;
    background-color: transparent;
    font-size: 25px;
   
}


