.explore__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement du lien */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Arrondi des bords */
    cursor: pointer; /* Curseur de la souris */
}
.button__like {
    color: red;
}