.explorebox {
background-color: darken(white,4%);
display: flex;
flex-direction: column;
text-align: center;
padding: 5px;

&__title {
    width: 70%;
    margin: 10px 0;
    font-size: 26px;
    align-items: center;
    display: flex;
}
& p {
    width: 85%;
    margin-left: 17px;
    font-size: 18px;
    align-items: center;

}
}