.explore__title h2 {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    

}
.explorebox {
background-color: red;
display: flex;
flex-direction: column;
}
.explorebox a {
    margin: 58px;
    margin-top: -4px;
    margin-bottom: 26px;
}
.explore__title p {
    text-align: center;
    font-size: 20px;

}