.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    .header__logo {
        padding: 10px;
}
    .header__logo img {
    width: 200px;
    margin-top: 10px;
    }
.header__menu {
    align-items: center;
    display: flex;
    flex-direction: row;

}
.header__menu--icon {
    width: 25px;
    padding-left: 18px;
}
