.loader {
    position: fixed;
    // fixe l'élement par rapport à la fenetre du navigateur 
    inset: 0;
    // place l'élement aux bords de la fenetre du navigateur
    z-index: 2;
    //  le fait passer  au dessus de tout
    background-color: $white;
    opacity: 0.9;
    // 90% d'opacité
    animation: disappear 0s 3s forwards;
    // dispariation du loader en 3 secondes
    display: grid;
    place-items: center;
    
    &__text {
      width: 100%;
      text-align: center;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: $black;
    }
  }

  
  .loader-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
   
    .loader-dot {
      width: 20%;
      height: 20%;
      margin: 0;
      border-radius: 100%;
      background-color: $color-primary;
      animation: three 1s infinite ease-in-out both;
      // indique que l'animation nommée three durera 1 seconde, se répétera indéfiniment, commencera lentement, accélérera au milieu,
      // ralentira à la fin, et sera jouée dans les deux directions.
      animation-delay: 0ms;
   
      &__2 {
        animation-delay: 225ms;
      }
   
      &__3 {
        animation-delay: 450ms;
      }
    }
  }
   
   