.location {
display: flex;
background-color: #eaeaea;
justify-content: center;
padding: 15px;

}
&__icon {
    margin-right: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;

}
&__input {
    display: flex;
    margin-left: 10px;
  

}
&__input--text {
border: none;
outline: none;
background: #eaeaea;
font-weight: 700;


}