.page__restaurant--img {
    position: relative;
    width: 100%;
    height: 250px;
}
.page__restaurant--img img {
    width: 100%;
    height: 107%;
    -o-object-fit: cover;
       object-fit: cover;
}
.slight {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 25px 25px 0px 0px;
    padding: 2% 5% 5% 5%;
    z-index: 0;
    // le Z index sert a faire passer la div par dessus l'image 
  
&__heading {
    display: flex;
    align-items: center;
    margin: auto;
}
&__heading h2 {
    width: 87%;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
}
&__orderbtn{
    display: flex;
    justify-content: center;
}
&__heading--heart{
    position: absolute;
    top: -182px;
    right: 46px;
} 
}


.race-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.race-list__heading {
    position: relative;
    margin: 4% 0% 2% 0%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    // text transform permet de changer la manière dont est écrit le texte ici tout en capitale
}
.race-list__heading::after {
    display: block;
    position: absolute;
    bottom: 2px;
    content: "";
    width: 40px;
    height: 4px;
    background-color: #99E2D0;
  }
//   le ::after permet d'afficher la bordure verte après le heading H3 . Content "" signifie que le content est  vide mais contient un trait . 

.race-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 #d5d5d5;
    overflow: hidden;
    cursor: pointer;
}
.race-cards__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
    gap: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // affichage des ... une fois que le slide va arriver
}
.race-cards__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px;
}
.race-cards__description h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.race-cards__description p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.race-cards__price {
    display: flex;
    align-items: flex-end;
    width: 15%;
    padding: 5px;
}
.race-cards__price p {
    margin: 0;
    font-weight: 500;
}