.page__restaurant--img {
    position: relative;
    width: 100%;
    height: 250px;
    @include desktop__responsive {
        height: 400px;
    }
    
}

.page__restaurant--img img {
    width: 100%;
    height: 107%;
    -o-object-fit: cover;
       object-fit: cover;
}
.slight {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 25px 25px 0px 0px;
    padding: 2% 5% 5% 5%;
    z-index: 0;
    // le Z index sert a faire passer la div par dessus l'image 
    @include desktop__responsive {
        max-width: 1024px;
        margin: auto;
    }
  
&__heading {
    display: flex;
    align-items: center;
    margin: auto;
    @include table__responsive {
        width: 400px;
        height: 41px;
        justify-content: center;
    }

    @include desktop__responsive {
        width: 400px;
        height: 41px;
        justify-content: center;
    }
}
&__heading h2 {
    width: 87%;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
    @include desktop__responsive {
        display: flex;
        font-size: 40px;
        width: 95%;
    }

    @include table__responsive {
        display: flex;
        font-size: 35px;
        width: 95%;
    }
}
&__orderbtn{
    display: flex;
    justify-content: center;
}
&__heading--heart{
    position: absolute;
    top: -182px;
    right: 46px;
}
&__container{
    margin: -10px;
    @include table__responsive ; @include desktop__responsive{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
} 
}


.race-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop__responsive ; @include table__responsive {
        width: 100%;
    }
 
&__heading {
    position: relative;
    margin: 4% 0% 2% 0%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    // text transform permet de changer la manière dont est écrit le texte ici tout en capitale
    
    @include desktop__responsive {
        font-size: 22px;
    }
}
&__heading::after {
    display: block;
    position: absolute;
    bottom: 2px;
    content: "";
    width: 40px;
    height: 4px;
    background-color: #99E2D0;
  }
}
//   le ::after permet d'afficher la bordure verte après le heading H3 . Content "" signifie que le content est  vide mais contient un trait . 

.race-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px 0 #d5d5d5;
    overflow: hidden;
    cursor: pointer;
    &:hover>&__checkout {
        margin-right: 0px;

        &::after {
            transform: rotate(360deg);
        }
    }

&__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
    gap: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // affichage des ... une fois que le slide va arriver
    padding: 5px;
}
&__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px;
}
&__description h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
&__description p {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
&__price {
    display: flex;
    align-items: flex-end;
    width: 15%;
    padding: 5px;
    font-size: 20px;
}
&__price p {
    margin: 0;
    font-weight: 500;
}
&__checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 20%;
    margin-right: -20%;
    border-radius: 0px 15px 15px 0px;
    background-color: $color-tertiary;
    transition: margin-right 800ms cubic-bezier(.63, 1.23, .96, .92);

    &::after {
        display: inline-block;
        margin: auto;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 25px;
        content: "\f058";
        color: $white;
        transition: transform 800ms cubic-bezier(.63, 1.23, .96, .92);
    }
}

}
