.restaurant {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0 66px 0;
    background-color: #F6F6F6;
}
.restaurant__bloc {
    width: 90%;
    margin: auto;
}
.restaurant__cards {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 251px;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 #d5d5d5;
}
.restaurant__cards--img {
    position: relative;
    overflow: hidden;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img img {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
}