/**** color ****/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey: #EAEAEA;
$white: #ffffff;
$shadow : #d5d5d5;
$black: #353535;
$LightGray: #F6F6F6;
$icon: #7E7E7E;



/**** Degree Gradient ****/
$degree: 357deg;

/**** width ****/
$whiteMobile: 90%;


/**** Responsive ****/
$breakpoints:(
    table: 768px,
    desktop: 1024px,
);