@charset "UTF-8";
/**** color ****/
/**** Degree Gradient ****/
/**** Responsive ****/
/**** Shadow ****/
/**** set-logo ****/
/**** gradient ****/
.loader {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0.9;
  animation: disappear 0s 3s forwards;
  display: grid;
  place-items: center;
}
.loader__text {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #353535;
}

.loader-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  flex-wrap: wrap;
}
.loader-dots .loader-dot {
  width: 20%;
  height: 20%;
  margin: 0;
  border-radius: 100%;
  background-color: #9356DC;
  animation: three 1s infinite ease-in-out both;
  animation-delay: 0ms;
}
.loader-dots .loader-dot__2 {
  animation-delay: 225ms;
}
.loader-dots .loader-dot__3 {
  animation-delay: 450ms;
}

/* CSS pour les éléments d'entrée */
.race-list:nth-child(1) .race-cards {
  animation: appear 2.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de plat */
.race-list:nth-child(2) .race-cards {
  animation: appear 5.5s ease forwards;
  opacity: 0;
}

/* CSS pour les éléments de dessert */
.race-list:nth-child(3) .race-cards {
  animation: appear 7.5s ease forwards;
  opacity: 0;
}

/* Animation pour les éléments menu */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes three {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.explore__button {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin: 13px auto 38px auto;
  transition: opacity 300ms ease-in-out;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  position: relative;
}
.explore__button:hover {
  opacity: 0.88;
}

input.heart-check {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 2;
}
input.heart-check:checked + .button__like::after {
  z-index: 1;
  position: absolute;
  opacity: 1;
  transition: opacity 250ms ease-in;
}
input.heart-check:not(checked) + .button__like::after {
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: opacity 350ms ease-out;
}

.button__like {
  color: #353535;
  width: 50px;
  height: 50px;
  display: flex;
  border: transparent 0px solid;
  background-color: transparent;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__like::after {
  z-index: -1;
  opacity: 0;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 35px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform-origin: bottom;
}

.header {
  padding: 2%;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
}
.header__witharrow {
  position: relative;
}
.header__goback {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  top: 35%;
  font-size: 20px;
}
@media all and (min-width: 1024px) {
  .header__goback {
    font-size: 32px;
  }
}

body {
  margin: auto;
  width: 100%;
  display: block;
}

.location {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  padding: 15px;
}
.location__icon {
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.location__input {
  display: flex;
  margin-left: 10px;
}
.location__input--text {
  border: none;
  outline: none;
  background: #eaeaea;
  font-weight: 700;
}

.explorebox {
  background-color: whitesmoke;
  display: block;
  text-align: center;
  padding: 16px;
}
.explorebox__title {
  width: 70%;
  margin: 10px 0;
  font-size: 26px;
  align-items: center;
  display: flex;
}
.explorebox h2 {
  font-size: 36px;
}
.explorebox p {
  margin-left: 17px;
  font-size: 18px;
  align-items: center;
}

.functioning {
  margin: auto;
  padding: 22px 0;
}
.functioning h3 {
  margin-left: 36px;
  display: flex;
  font-size: 28px;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .functioning__list {
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.functioning__step {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 30px;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #F6F6F6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media all and (min-width: 1024px) {
  .functioning__step {
    width: 30%;
  }
}
.functioning__step:hover {
  background-color: #f2eafb;
  box-shadow: 0 4px 10px 0 #bcbcbc;
}
.functioning__step:hover > .functioning__step--icon {
  color: #9356DC;
}
.functioning__step--number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -13px;
  bottom: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #F6F6F6;
  background-color: #9356DC;
  padding: 5px;
}
.functioning__step--subtitle {
  font-weight: 700;
}
.functioning__step--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7E7E7E;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .restaurant__bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75%;
    margin: auto;
    gap: 40px;
  }
}
@media all and (min-width: 768px) {
  .restaurant__bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75%;
    margin: auto;
    gap: 40px;
  }
}
.restaurant__title {
  padding: 28px;
  margin-bottom: -10px;
  font-size: 25px;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  padding-bottom: 18px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media all and (min-width: 1024px) {
  .restaurant__cards {
    width: calc(50% - 40px);
  }
}
@media all and (min-width: 768px) {
  .restaurant__cards {
    width: calc(50% - 40px);
  }
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img--markerinfo {
  padding: 10px 15px;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 17px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
}
.restaurant h4 {
  font-size: 21px;
  margin-top: 47px;
}
.restaurant p {
  font-size: 18px;
}
.restaurant__cards--like {
  font-size: 25px;
  position: relative;
}
.restaurant__cards--info {
  font-size: 25px;
  margin-top: -29px;
  padding: 0 13px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.restaurant p {
  margin-top: -17px;
  position: relative;
}

.footer {
  width: auto;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
}
.footer p {
  margin: 5px 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media all and (min-width: 768px) {
  .footer__bloc {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  .footer__bloc {
    flex-direction: row;
    gap: 7px;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media all and (min-width: 768px) {
  .footer__nav {
    width: 190px;
  }
}
.footer__nav--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}
@media all and (min-width: 768px) {
  .footer__nav--info p {
    width: 130px;
    height: 20px;
  }
}

.page__restaurant--img {
  position: relative;
  width: 100%;
  height: 250px;
}
@media all and (min-width: 1024px) {
  .page__restaurant--img {
    height: 400px;
  }
}

.page__restaurant--img img {
  width: 100%;
  height: 107%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slight {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}
@media all and (min-width: 1024px) {
  .slight {
    max-width: 1024px;
    margin: auto;
  }
}
.slight__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
.slight__heading h2 {
  width: 87%;
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}
@media all and (min-width: 1024px) {
  .slight__heading h2 {
    display: flex;
    font-size: 40px;
    width: 95%;
  }
}
@media all and (min-width: 768px) {
  .slight__heading h2 {
    display: flex;
    font-size: 35px;
    width: 95%;
  }
}
@media all and (min-width: 768px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
@media all and (min-width: 1024px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
.slight__heading--heart {
  position: relative;
}
.slight__orderbtn {
  display: flex;
  justify-content: center;
}
.slight__container {
  margin: -10px;
}
@media all and (min-width: 1024px) {
  .slight__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.race-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (min-width: 768px) {
  .race-list {
    width: 100%;
  }
}
.race-list__heading {
  position: relative;
  margin: 4% 0% 2% 0%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media all and (min-width: 1024px) {
  .race-list__heading {
    font-size: 22px;
  }
}
.race-list__heading::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

.race-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.race-cards:hover > .race-cards__checkout {
  margin-right: 0px;
}
.race-cards:hover > .race-cards__checkout::after {
  transform: rotate(360deg);
}
.race-cards__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.race-cards__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.race-cards__description h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
  font-size: 20px;
}
.race-cards__price p {
  margin: 0;
  font-weight: 500;
}
.race-cards__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.race-cards__checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=style.css.map */