/**** color ****/
/**** Degree Gradient ****/
/**** width ****/
/**** Responsive ****/
/**** Responsive ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
.explore__button {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin: 13px 75px 38px 40px;
  transition: opacity 300ms ease-in-out;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  position: relative;
}
.explore__button:hover {
  opacity: 0.88;
}

.button__like {
  color: #353535;
  position: absolute;
  top: 216px;
  right: 2px;
  width: 21px;
  height: 41px;
  display: flex;
  border: transparent 0px solid;
  background-color: transparent;
  font-size: 35px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__logo img {
  width: 200px;
  margin-top: 10px;
  padding: 10px;
}

.header__menu {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__menu--icon {
  width: 25px;
  padding-left: 18px;
}

body {
  margin: auto;
  width: 100%;
  display: block;
}

.location {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  padding: 15px;
}
.location__icon {
  margin-right: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.location__input {
  display: flex;
  margin-left: 10px;
}
.location__input--text {
  border: none;
  outline: none;
  background: #eaeaea;
  font-weight: 700;
}

.explorebox {
  background-color: whitesmoke;
  display: block;
  text-align: center;
  padding: 16px;
}
.explorebox__title {
  width: 70%;
  margin: 10px 0;
  font-size: 26px;
  align-items: center;
  display: flex;
}
.explorebox h2 {
  font-size: 36px;
}
.explorebox p {
  margin-left: 17px;
  font-size: 18px;
  align-items: center;
}

/**** Responsive ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
.functioning {
  margin: auto;
  padding: 22px 0;
}
.functioning h3 {
  margin-left: 36px;
  display: flex;
  font-size: 28px;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
.functioning__step {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 30px;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #F6F6F6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
.functioning__step--number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -19px;
  bottom: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #F6F6F6;
  background-color: #9356DC;
  padding: 1%;
}
.functioning__step--subtitle {
  font-weight: 700;
}
.functioning__step--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7E7E7E;
}

/**** color ****/
/**** Degree Gradient ****/
/**** width ****/
/**** Responsive ****/
/**** Responsive ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #F6F6F6;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
}
.restaurant__title {
  padding: 28px;
  margin-bottom: -10px;
  font-size: 31px;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img--markerinfo {
  padding: 10px 15px;
  position: absolute;
  right: 15px;
  top: 12px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 17px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
}
.restaurant__cards--like {
  position: absolute;
  right: 7%;
  font-size: 25px;
}
.restaurant__cards--info {
  font-size: 25px;
  margin-top: -29px;
  padding-left: 13px;
}
.restaurant p {
  margin-top: 15px;
  position: relative;
}

/**** color ****/
/**** Degree Gradient ****/
/**** width ****/
/**** Responsive ****/
/**** Responsive ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
.footer {
  width: auto;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}
.footer p {
  margin: 5px 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__nav--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}

.page__restaurant--img {
  position: relative;
  width: 100%;
  height: 250px;
}

.page__restaurant--img img {
  width: 100%;
  height: 107%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slight {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}
.slight__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
.slight__heading h2 {
  width: 87%;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}
.slight__orderbtn {
  display: flex;
  justify-content: center;
}
.slight__heading--heart {
  position: absolute;
  top: -182px;
  right: 46px;
}
.slight__container {
  margin: -10px;
}

.race-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.race-list__heading {
  position: relative;
  margin: 4% 0% 2% 0%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.race-list__heading::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

.race-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.race-cards__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.race-cards__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.race-cards__description h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
  font-size: 20px;
}
.race-cards__price p {
  margin: 0;
  font-weight: 500;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=style.css.map */